<!--头部标题-->
<header class="header">
    <span class="fa fa-user user"></span>一人一枕
</header>
<!--导航部分-->
<nav class="nav">
    <ul class="nav-list" id="navList">
        <li data-index="pillow"><a href="./view/pillow.html">专属枕头</a><span class="nav-triangle"></span></li>
        <li data-index="texture">材质触感<span class="nav-triangle"></span></li>
        <li data-index="measure">颈部测量<span class="nav-triangle"></span></li>
        <li data-index="service">贴心服务<span class="nav-triangle"></span></li>
    </ul>
    <div class="nav-pulldown" id="navPulldown">
        <!--专属枕头-->
        <div class="nav-pulldown-list" data-index="pillow">
        </div>
        <!--材质触感-->
        <div class="nav-pulldown-list" data-index="texture">
            <ul>
                <li>芝士乳胶条</li>
                <li>绒纤云锦棉</li>
                <li>护颈软管</li>
                <li>三棱荞麦壳</li>
                <li>竹炭软管+香木</li>
                <li>蓝色TPE弹性体</li>
                <li>粉色TPE弹性体</li>
            </ul>
        </div>
        <!--颈部测量-->
        <div class="nav-pulldown-list" data-index="measure">
            <ul>
                <li>VDetection测量方式</li>
                <li>1001Pillows测量体验店</li>
            </ul>
        </div>
        <!--贴心服务-->
        <div class="nav-pulldown-list" data-index="service">
            <ul>
                <li>关注1001Pillows公众号</li>
                <li>联系我们</li>
            </ul>
        </div>
    </div>
</nav>