<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>专属枕头</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <!--禁止IOS识别号码 -->
    <meta content="email=no" name="format-detection"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <link rel="stylesheet" href="../plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/swiper-4.4.1/css/swiper.min.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/pillow.css">
</head>
<body>

<!--顶部导航部分-->
<div class="nav-wrap"></div>

<!--主体部分-->
<main class="main">
    <!--标题部分-->
    <div class="main-title">订购属于您的枕头</div>
    <!--列表部分-->
    <div class="main-list">
        <ul>
            <!--<li class="fix">-->
                <!--&lt;!&ndash;左侧图片部分&ndash;&gt;-->
                <!--<div class="list-left">-->
                    <!--<img src="../images/pillow-paperwhite.png">-->
                    <!--<div class="img-bottom"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash;右侧文本部分&ndash;&gt;-->
                <!--<div class="list-right">-->
                    <!--<p class="list-title">芝士乳胶条枕/本白色</p>-->
                    <!--<p class="list-subtitle">Cheese Latex</p>-->
                    <!--<button class="buy-button">立即购买</button>-->
                    <!--<p class="list-desc">-->
                        <!--精心选择的“天然芝士乳胶条”（天然-->
                        <!--乳胶含量达百分之八十）弹性好，有乳-->
                        <!--胶独特气味，很好的吸湿性和透气性无-->
                        <!--污染无毒-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>
    <!--小程序二维码部分-->
    <div class="applet-qrcode-warp">
        <img src="../images/applet-QRcode.png">
    </div>
</main>

<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/pillow.js"></script>
</body>
</html>