body {
    background-color: #ffffff;
}

/*修改公共head*/
.assistant-title {
    width: 9rem;
}

/*主体部分*/
.main {
    border-top: 0.05rem solid #ababab;
    background-color: #ffffff;
}
/*左边列表选择部分*/
.assistant-list {
    width: 5.88rem;
    color: #333333;
    float: left;
}

.assistant-list .assistant-ul {
    font-size: 0.56rem;
}

.assistant-list .assistant-li {
    padding-left: 0.44rem;
    height: 2.14rem;
    line-height: 2.14rem;
}

.assistant-list .assistant-li a {
    display: inline-block;
    color: #333333;
}

.assistant-list .assistant-li a:hover{
    color: #ac3028;
}

.list-small {
    font-size: 0.46rem;
    margin-right: 0.7rem;
}

/*右边详情*/
.assistant-right {
    float: left;
    border-left: 0.05rem solid #ababab;
}

/*上边大图*/
.assistant-right img{
    width: 12.84rem;
}

/*详情*/
.assistant-particulars {
    margin-top: 0.56rem;
}

.assistant-right .particulars-img {
    display: inline-block;
    width: 4.7rem;
    padding-left: 0.43rem;
}

/*右边介绍*/
.assistant-right .particulars-text {
    display: inline-block;
    margin-left: 0.5rem;
}

.particulars-text .text-title {
    font-size: 0.55rem;
}

.particulars-text .text-subtitle {
    font-size: 0.38rem;
     padding-top: 0;
}

.particulars-text .text-join {
    display: inline-block;
    font-size: 0.48rem;
    width: 3.28rem;
    height: 0.98rem;
    line-height: 0.98rem;
    color: #ffffff;
    background-color: #ba0909;
    text-align: center;
    border-radius: 2rem;
    margin-left: 3.58rem;
}

.particulars-text .text-intro {
    font-size: 0.4rem;
}





/*左侧图片部分*/
.right {
    padding-left: 0.43rem;
}
.list-left {
    /*position: relative;*/
    float: left;
    /*width: 2.9rem;*/
    /*height: 3rem;*/
    background-color: #ddd;
    padding: .3rem;
}

.list-left img {
    width: 4rem;
    height: 3.3rem;
}

.list-left .img-bottom {
    /*position: absolute;*/
    /*bottom: .3rem;*/
    /*left: .2rem;*/
    margin-top: -.15rem;
    width: 4rem;
    height: .96rem;
    background: url("../images/assistant-img-bottom.png") no-repeat;
    background-size: 4rem;

}

/*右侧文本部分*/
.list-right {
    position: relative;
    float: left;
    width:  7.84rem;
    padding: 0 .5rem;
}

.list-right .list-title {
    font-size: .55rem;
    padding-top: 0.3rem;
}

.list-right .list-subtitle {
    font-size: .38rem;
}

.list-right .buy-button {
    position: absolute;
    top: 1.2rem;
    right: .38rem;
    width: 3.28rem;
    height: .98rem;
    line-height: .98rem;
    font-size: .48rem;
    color: #fff;
    text-align: center;
    background: #ba0909;
    border-radius: .6rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.list-right .list-desc {
    margin-top: .6rem;
    font-size: .4rem;
    /*line-height: .50rem;*/
}

