
.head-common {
    width: 100%;
    background-color: #392524;
    text-align: center;
    /*height: 6.10rem;*/
}

.head-img {
    width: 3.55rem;
    height: 2.20rem;
    margin-top: 0.72rem;
}

.head-text {
    width: 6.24rem;
    height: 0.97rem;
    margin-top: 0.42rem;
    margin-bottom: 0.7rem;
}

.head-name {
    position: relative;
}

.head-back {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    /* background-color: red; */
    position: absolute;
    margin-top: 1.5rem;
    left: 2.1rem;
    border: solid .05rem #efb588;
}

.head-back a {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #efb588;
    margin-left: -.09rem;
}