body {
    background-color: #392524;
    text-align: center;
    color: #d9a18f;
}
.index-first {
    padding-top: 11.62rem;
}
.logo {
    width: 14.02rem;
    height: 10.46rem;
    margin-top: 0.98rem;
}

.logo-img {
    width: 13.97rem;
    height: 3.11rem;
    margin-top: 0.7rem;
}

.title {
    font-size: 1.09rem;
}

.subtitle {
    font-size: 1.57rem;
}

/*轮播*/
.select-img {
    width: 24.94rem;
}

