body {
    background-color: #442c2b;
}

/*主体模块部分*/
.main {
    background-color: #442c2b;
    text-align: center;
}

/*一人一枕描述部分*/
.measure-step6-desc {
    width: 19.59rem;
    height: 4.49rem;
    margin-top: 2.02rem;
}

/*一人一枕二维码部分*/
.measure-step6-img {
    width: 7.14rem;
    height: 7.14rem;
    margin-top: 1.56rem;
}

/*扫码保存描述部分*/
.measure-step6-keep {
    width: 15.2rem;
    height: 1.74rem;
    text-align: left;
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 1.53rem;
    padding-bottom: 6.33rem;
    color: #bd8d80;
    background-color: #442c2b;
}

/*底部模块*/
.measure-step6-footer {
    background-color: #ffffff;
}

/*更多选择标题部分*/
.measure-step6-footer .measure-step6-footitle {
    height: 1.28rem;
    line-height: 1.28rem;
    background-color: #f4f4f4;
    font-size: 0.84rem;
    font-size: 0.6rem;
    color: #ff0101;
    padding-left: 0.74rem;
    margin-top: 0.7rem;
}

/*更多选择部分*/
.measure-step6-footer .measure-step6-foomore {
    margin-top: 1.2rem;
    width: 9.95rem;
    margin-left: 0.74rem;
}

/*左边图片*/
.measure-step6-footer .measure-foomore-left img {
    width: 4.06rem;
    float: left;
}

/*右边文字*/
.measure-step6-footer  .measure-foomore-text {
    width: 5.50rem;
    color: #000000;
    font-size: 0.32rem;
    float: right;
}

.measure-step6-footer  .foomore-title{
    font-size: 0.5rem;
}

.measure-step6-footer a {
    display: inline-block;
}
.measure-step6-footer  .foomore-details {
    display: inline-block;
    width: 2.76rem;
    height: 0.83rem;
    line-height: 0.83rem;
    font-size: 0.38rem;
    color: #ffffff;
    text-align: center;
    background-color: #ab8a59;
    border-radius: 2rem;
    margin-left: 2.72rem;
}

.measure-step6-footer .foomore-text {
    margin-top: 0.42rem;
}
