body {
    background-color: #442c2b;
}

/*主体模块部分*/
.main {
    background-color: #442c2b;
    position: relative;
}
/*摄像头*/
.video {
    width: 100%;
    height: 28rem;
    position: absolute;
    top: 0;
    left: 0;
    /*background-image: url("../images/measure-step2-img.png");*/
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28rem;
}
/*人物图片*/
.measure-step3-img {
    width: 100%;
    height: 28rem;
    margin-top: 0.97rem;
    vertical-align: middle;/*清除图片底部边框问题*/
}

/*底部相机按钮图片*/
.measure-step3-camera {
    background-color: #d9cfbb;
    text-align: center;
    padding-top: 1.16rem;
    padding-bottom: 1rem;
}

.measure-step3-camera a {
    display: inline-block;
}

.measure-step3-camera img {
    width: 3.15rem;
    height: 3.15rem;
}
