/*内容*/
.content {
    background-color: #442C2B;
    padding-top: 0.7rem;
}
.contText {
    text-align: center;
    padding-bottom: 0.7rem;

}
.contText .texture-detail1{
    width: 13.06rem;
    height: 4.36rem;
}
