/*修改公共head*/
.cart-head {
    height: 2.86rem;
    font-size: 0.86rem;
    line-height: normal;
    margin-top: 0.64rem;
    margin-bottom: 0.7rem;
}

.cart-text {
    margin-top: 0.3rem;
}

/*主体部分*/
.main {
    background-color: #fcfcfc;
}

.main .cart {
    background-color: #ffffff;
    margin-top: 0.7rem;
    margin-left: 0.46rem;
    margin-right: 0.6rem;
    position: relative;
}

.main .cart-first {
    margin-top: 1.56rem;
}

/*左边部分*/
.cart .cart-left {
    padding-top: 0.74rem;
    padding-left: 0.46rem;
    padding-bottom: 0.7rem;
    width: 15.9rem;

}

/*左边图片*/
.cart .left-img {
    display: inline-block;
    float: left;
}

.cart .cart-img {
    width: 6.92rem;
}

/*右边文字*/
.cart .right-text {
    float: right;
    display: inline-block;
    font-size: 0.78rem;
    color: #333333;
    padding-top: 0.4rem;
}

.text-subtitle {
    font-size: 0.52rem;
    padding-top: 0.2rem;
}

.text-money {
    font-size: 0.74rem;
    color: #ba0909;
}

.text-intro {
    width: 7.5rem;
    font-size: 0.48rem;
    padding-top: 0.3rem;
}

/*右边增加部分*/
.cart-right {
    position: absolute;
    left: 19.05rem;
    top: 5.38rem;
}
li {
   display: inline-block;
}

.cart-right .button-minus {
    display: inline-block;
    font-size: 1rem;
    background-color: #ffffff;
    border: 0.01rem solid #ffffff;
    /*cursor:pointer; !*鼠标变小手*!*/
}

.cart-right .button-count {
    text-align: center;
    display: inline-block;
    font-size: 0.5rem;
    background-color: #f0f0f0;
    width: 2.32rem;
    height: 1.22rem;
    line-height: 1.22rem;
    border: 0;
}

.button-down {
    margin-right: 0.5rem;
}

.button-up {
    margin-left: 0.5rem;
}