body {
    background-color: #442c2b;
}

.main {
    text-align: center;
    background-color: #442c2b;
}

/*选择枕头*/
.sugges-pillow {
    padding-top: 2rem;
}

.pillow {
    margin-top: .3rem;
}

.sugges-pillow p {
    color: #e2c0a8;
    font-size: .46rem;
}

.sugges-pillow img {
    height: .5rem;
    padding-right: .34rem;
    vertical-align: middle;
}

.sugges-pillow .sugges-fullLink {
    margin-top: .74rem;
}

.sugges-pillow .sugges-link {
    display: inline-block;
    height: 1.22rem;
    width: 2.78rem;
    color: #eec2a9;
    background-color: #30191d;
    text-align: center;
    font-size: .36rem;
    border-radius: 1rem;
    margin: 0 .14rem 0 .14rem;
}

.sugges-pillow .sugges-fullLink a:hover {
    display: inline-block;
    height: 1.22rem;
    width: 2.78rem;
    color: #241208;
    background-color: #a0786c;
    text-align: center;
    font-size: .36rem;
    border-radius: 1rem;
    margin: 0 .14rem 0 .14rem;
}

.sugges-pillow .sugges-fullLink a:focus {
    display: inline-block;
    height: 1.22rem;
    width: 2.78rem;
    color: #241208;
    background-color: #a0786c;
    text-align: center;
    font-size: .36rem;
    border-radius: 1rem;
    margin: 0 .14rem 0 .14rem;
}

.sugges-pillow  .sugges-choose {
    line-height: 1.22rem;
}

.sugges-pillow .sugges-link .sugges-text {
    font-size: .26rem;
}

/*选择按钮*/
.suggesction {
    text-align: center;
}

.suggesction .suggesction-link {
    display: block;
    height: 1.7rem;
    width: 5.42rem;
    background-color: #efb588;
    color: #241208;
    font-size: .46rem;
    border-radius: 1.5rem;
    margin: 0 auto;
    margin-top: 1.33rem;
    margin-bottom: 3rem;
}

.suggesction .suggesction-link  .suggesction-text {
    font-size: .4rem;
    padding-top: .2rem;
}