/*重写轮播图选中点的颜色*/
.swiper-pagination-bullet-active {
    background: #999;
}

/*轮播图部分*/
.swiper-container {
    width: 100%;
    height: 10.47rem;
}

/*第一屏轮播图部分*/
.carousel-1 img {
    display: block;
}

.carousel-1 .carousel-1-top {
    width: 100%;
    height: 3.68rem;
}

.carousel-1 .carousel-1-text {
    width: 5.68rem;
    height: .39rem;
    margin: .60rem auto .80rem;
}

.carousel-1 .carousel-1-bootom {
    width: 6.19rem;
    height: 4.67rem;
}

/*第二屏轮播图部分*/
.carousel-2 img {
    display: block;
}

.carousel-2 .carousel-2-title {
    width: 7.29rem;
    height: 2.21rem;
    margin: .2rem auto 0;
}

.carousel-2 .carousel-2-img {
    width: 100%;
    height: 5.06rem;
}

.carousel-2 .carousel-2-text {
    width: 100%;
    height: 3rem;
    line-height: .50rem;
    font-size: .28rem;
    color: #835f41;
    padding: .40rem .50rem;
    background-color: #eeeae1;
}

/*第三屏轮播图部分*/
.carousel-3 img {
    display: block;
}

.carousel-3 .carousel-3-img {
    width: 100%;
    height: 10.51rem;
}

/*首页初衷展示部分*/
.intention {
    width: 100%;
}

/*顶部图片*/
.intention .vcollection-wrap {
    width: 100%;
    height: 6rem;
    background: url("../images/index-vcollection-back.png");
    text-align: center;
}

.intention .vcollection-wrap .vcollection {
    width: 7rem;
    height: 4.3rem;
    margin-top: .85rem;
}

/*文字描述部分*/
.intention .intention-text {
    width: 100%;
    height: 1.8rem;
    font-size: .28rem;
    color: #fff;
    padding: .2rem .8rem;
    background-color: #a89991;
}

/*初衷底部*/
.intention-bottom {
    width: 100%;
    height: 5.99rem;
    padding-top: 1.38rem;
    background: url("../images/index-bottom.png") no-repeat;
    background-size: contain;
}

/*初衷底部文本部分*/
.intention-bottom-introduce {
    width: 100%;
    height: 3.3rem;
    text-align: center;
    padding-top: .2rem;
    background-color: rgba(255, 255, 255, .6);

}

.intention-bottom-title {
    font-size: .36rem;
    font-weight: 700;
}

.intention-bottom-text {
    font-size: .28rem;
}

.intention-bottom-qrcode {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: .17rem;
}