body {
    background: url("../images/service-back.png");
}

.service-wrap {
    width: 100%;
    /*height: 12.85rem;*/
    text-align: center;
}

/*标题与描述图片*/
.service-title {
    width: 4rem;
    margin-top: 1.3rem;
}

.service-desc {
    width: 6.6rem;
}

/*二维码与联系我们部分*/
.service-qrcode {
    width: 2.04rem;
}

.service-text1 {
    font-size: .36rem;
    font-weight: 700;
}

.service-text2 {
    font-size: .24rem;
}

/*底部图片*/
.service-img {
    width: 100%;
}