<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assistant</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/assistant.css">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="measure-step2-title assistant-head ">
        <p class="assistant-text">购物车 </p>
        <p>Choose Assistant</p>
    </span>
</div>

<!--主体部分-->
<div class="main">
    <div class="assistant">
        <!--左边介绍部分-->
        <div class="assistant-left fix">
            <!--左边图片-->
            <span class="left-img">
                <img class="assistant-img" src="../images/assistant-img-cheese.png" alt="">
            </span>
            <!--右边文字-->
            <span class="right-text">
                <p class="text-title">芝士乳胶条枕/本白色</p>
                <p class="text-subtitle">Cheese Latex</p>
                <p class="text-money">&yen;499</p>
                <p class="text-intro">颜色Color：本白 Creamy White 硬度Hardness：中低 Lower-mid 弹性Elasticity：高 High</p>
            </span>
        </div>
        <!--右边增加部分-->
        <div class="assistant-right">
            <span>-</span>
            <span></span>
            <span>+</span>
        </div>
    </div>
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.animate.min.js"></script>
</html>