<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选枕助手</title>

    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <!--禁止IOS识别号码 -->
    <meta content="email=no" name="format-detection"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/shopping-cart.css">
    <link rel="stylesheet" href="../css/assistant.css">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="measure-step2-title cart-head assistant-title">
        <p class="cart-text">选枕助手</p>
        <p>Assistant</p>
    </span>
</div>

<!--主体模块-->
<div class="main fix">
    <!--左边列表选择部分-->
    <!--<div class="assistant-list">-->
        <!--<ul class="assistant-ul">-->
            <!--<li class="assistant-li"><a href="javascript:;">儿童 (3-6岁)</a></li>-->
            <!--<li class="assistant-li"><a href="javascript:;">少年 (7-18岁)</a></li>-->
            <!--<li class="assistant-li"><a href="javascript:;">青年 (19-34岁)</a></li>-->
            <!--<li class="assistant-li"><a href="javascript:;">中年 (35-54岁)</a></li>-->
            <!--<li class="assistant-li list-small"><a href="javascript:;">老年 (55岁)</a></li>-->
            <!--<li class="assistant-li list-small"><a href="javascript:;">适宜男士</a></li>-->
            <!--<li class="assistant-li list-small"><a href="javascript:;">女士精选</a></li>-->
            <!--<li class="assistant-li list-small"><a href="javascript:;">丰富材质</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--右边详情-->
    <!--<div class="assistant-right">-->
        <!--&lt;!&ndash;上边大图&ndash;&gt;-->
        <!--<img src="../images/assistant-bigimg-child.png" alt="">-->
        <!--&lt;!&ndash;下边详情&ndash;&gt;-->
        <!--<div class="assistant-particulars">-->
            <!--&lt;!&ndash;左边图片&ndash;&gt;-->
            <!--<img class="particulars-img" src="../images/assistant-img-pink.png" alt="">-->
            <!--&lt;!&ndash;右边介绍&ndash;&gt;-->
            <!--<span class="particulars-text">-->
                <!--<p class="text-title">粉色软管枕／浅粉色</p>-->
                <!--<p class="text-subtitle">TPE Elastome</p>-->
                <!--<a href="javascript:;" class="text-join">加入购物车</a>-->
                <!--<p class="text-intro">粉色软管枕专门为女性打造，具有透气排热的特点，能够有效排出枕头内的热量，保持枕头内部温度提高睡眠质量</p>-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="assistant-particulars">-->
        <!--&lt;!&ndash;左边图片&ndash;&gt;-->
        <!--<img class="particulars-img" src="../images/assistant-img-blue.png" alt="">-->
        <!--&lt;!&ndash;右边介绍&ndash;&gt;-->
        <!--<span class="particulars-text">-->
                <!--<p class="text-title">蓝色软管枕／蓝色</p>-->
                <!--<p class="text-subtitle">TPE Elastome</p>-->
                <!--<a href="javascript:;" class="text-join">加入购物车</a>-->
                <!--<p class="text-intro">蓝色软管枕专门为精英男士打造，具有透气排热的特点，能够有效排出枕头内的热量，保持枕头内部温度提高睡眠质量</p>-->
            <!--</span>-->
    <!--</div>-->
        <!--<div class="assistant-particulars">-->
            <!--&lt;!&ndash;左边图片&ndash;&gt;-->
            <!--<img class="particulars-img" src="../images/assistant-img-gray.png" alt="">-->
            <!--&lt;!&ndash;右边介绍&ndash;&gt;-->
            <!--<span class="particulars-text">-->
                <!--<p class="text-title">三角荞麦壳枕／深咖色</p>-->
                <!--<p class="text-subtitle">TPE Elastome</p>-->
                <!--<a href="javascript:;" class="text-join">加入购物车</a>-->
                <!--<p class="text-intro">荞麦壳呈棱形，坚而不硬，凉爽舒适壳与壳之间自然形成完美透气通道透气性佳，在地下埋藏百年不变质</p>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/assistant.js"></script>
</html>