<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>good-sleep</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/good-sleep.css">
</head>
<body>
<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--主体部分-->
<div class="main">
    <!--好睡专题-->
    <div class="good-sleep" >
        <p>好睡专题</p>
        <p>Good Sleep</p>
    </div>

    <!--曲线测量-->
    <a href="javascript:;" class="goodsleep-link">
        <img class="goodsleep-img1" src="../images/goodsleep-img1.png" alt="">
        <span class="goodsleep-subtitle">曲线测量</span>
    </a>

    <!--丰富材质-->
    <a href="javascript:;" class="goodsleep-link">
        <img class="goodsleep-img2" src="../images/goodsleep-img2.png" alt="">
        <span class="goodsleep-subtitle">丰富材质</span>
    </a>


</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
</html>