<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detection</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure.css">
</head>
<body>
<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--主体部分-->
<div class="main">

    <!--曲线测量部分  -->
    <span class="measure-title">曲线测量</span>

    <!--图片文字-->
    <img class="measure-title-img" src="../images/measure-title-img.png" alt="">

    <!--图片人物-->
    <a href="">
        <img class="measure-img" src="../images/measure-img.png" alt="">
    </a>

    <!--文字描述-->
    <p class="measure-describe">智能颈部曲线测量＋专属的调节方式 </p>
    <p class="measure-subdescribe">打造专属于你的好枕</p>

    <!--开始测量按钮-->
    <a href="">
        <div class="measure-button">
            <p>Start</p>
            <p>开始测量</p>
        </div>
    </a>


</div>

</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.animate.min.js"></script>
</html>