<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>measure-step5</title>
    <head>
        <meta charset="UTF-8">
        <title>measure-step2</title>
        <title>measure-step4</title>
        <link rel="stylesheet" href="../css/head.css">
        <link rel="stylesheet" href="../css/commen.css">
        <link rel="stylesheet" href="../css/measure-step2.css">
        <link rel="stylesheet" href="../css/measure-step5.css">
    </head>
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<!--曲线测量部分  -->
<div class="head-name">
    <span class="measure-step2-title">曲线测量</span>
</div>

<!--主体部分-->
<div class="main">

    <!--我的曲线测量模块部分-->
    <div class="head-name">
        <span class="measure-step5-title">我的曲线</span>
    </div>

    <!--身体测量图部分-->
    <img class="measure-step5-img" src="../images/measure-step5-img.png" alt="">

    <!--底部模块部分-->
    <div>
        <span class="measure-step5-foot">
            <a href="" class="measure5-link">
                <p class="foot-top">Report</p>
                <p class="foot-down">生成报告</p>
            </a>
        </span>


        <span class="measure-step5-foot">
            <a href="" class="measure5-link">
                <p class="foot-top">list</p>
                <p class="foot-down">数据列表</p>
            </a>
        </span>
    </div>

</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.animate.min.js"></script>
</html>