<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>曲线测量-第3步 正面曲线</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/measure-step3.css">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<!--曲线测量部分  -->
<div class="head-name">
    <span class="measure-step2-title">曲线测量</span>
    <span class="measure-step2-subtitle">正</span>
</div>


<!--主体模块部分-->
<div class="main">
    <!--人物图片-->
    <img class="measure-step3-img" src="../images/measure-step3-img.png" alt="">

    <!--底部相机按钮图片-->
    <div class="measure-step3-camera">
        <a href="javascript:;">
            <img src="../images/measure-camera.png" alt="">
        </a>
    </div>

</div>

</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
</html>