<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>measure-step1</title>
    <title>detection</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step1.css">
</head>
<body>
<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<!--曲线测量部分  -->
<div class="head-name">
    <span class="measure1-title">曲线测量</span>
</div>

<!--主体模块部分-->
<div class="main">
    <div class="measure1-choose">
        <p>请选择</p>
    </div>

    <!--测量描述-->
    <ul class="measure1-describe">
        <li><span class="dot"></span>为了测量准确，请露出颈部，避免带帽子进行测量，同时不要穿着领子过厚的衣服；</li>
        <li><span class="dot"></span>需注意将所有头发顺到一侧，露出颈部拍摄；</li>
        <li><span class="dot"></span>请放松，呈自然站立状态；</li>
        <li><span class="dot"></span>请注意在拍摄时，请勿遮挡参考尺；</li>
    </ul>

    <!--二级图片介绍部分-->
    <div class="measure1-subimg">
        <img src="../images/measure1-subimg.png" alt="">
    </div>

    <!--注释部分-->
    <div class="measure1-note">
        <p>注：VDetection为专利测量技术，测试结果会根据不同用户的发型、姿势、拍摄角度、 场景光线不同而有差异，如需要获得精确尺</p>
    </div>
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
</html>