<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pillow-sleep</title>
    <title>pillow-introduce</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/pillow.css">
    <link rel="stylesheet" href="../css/pillow-sleep.css">
</head>
<body>
<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--主体部分-->
<div class="main">
    <img class="sleep-img" src="../images/pillow-sleep-img.png" alt="">
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.animate.min.js"></script>
</html>