<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pillow</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/pillow.css">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="measure-step2-title pillow-head ">
        <p class="pillow-text">专属定制 </p>
        <p>One PILLOW</p>
    </span>
</div>

<!--主题模块部分-->
<div class="main">
    <!--title部分-->
    <p class="pillow-title">每个人的颈椎曲线都不一样</p>
    <p class="pillow-subtitle">我要枕多高的枕头？</p>
    <!--图片部分-->
    <img class="pillow-img" src="../images/pillow-img.png" alt="">
    <!--<p class="pillow-VD">What’s  VDetection</p>-->
    <!--底部文字-->
    <p class="pillow-foot">
        VDetection智能测量包括多种人体测量的方法来提取人体颈部曲线，其中应用了深度学习和分体分割的视觉方式只需用手机拍摄一张侧面照面即可生成用户的头高和颈高数据，这会让您在选购枕头的时候轻松了解自己的合适高度，从此美梦变得简单。</p>
</div>


</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
</html>