<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pillow-introduce</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/pillow.css">
    <link rel="stylesheet" href="../css/pillow-introduce.css">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name pillow-introduce">
    <span class="measure-step2-title pillow-head">
        <p class="pillow-text">专属定制 </p>
        <p>One PILLOW</p>
    </span>
</div>

<!--主体部分-->
<div class="main">
    <p class="introduce-text">VDetection的诞生源于一个单纯却用心的初衷： 用人工智能技术来为人的睡眠升级。让每个人都 能找到适合自己高度的枕头，感受完美枕头带来的愉悦睡眠体验。整套系统包含：智能测量、调高系统、丰富材质选择。</p>
</div>


</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.animate.min.js"></script>
</html>