<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>products-introduction</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/products-introduction.css">
</head>
<body>
<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="measure-step2-title products-head">儿童 (3-6岁)</span>
</div>

<!--主体部分-->
<div class="main">
    <!--&lt;!&ndash;图片介绍&ndash;&gt;-->
    <!--<img class="products-img" src="../images/productsIntroduction-img-child.png" alt="">-->
    <!--&lt;!&ndash;商品描述&ndash;&gt;-->
    <!--<div class="products-describe ">-->
        <!--<p class="products-title">智能测量＋专属调节</p>-->
        <!--<p class="products-subtitle">浅灰色3D网TPE弹性体枕  TPE Elastomer</p>-->
        <!--<p class="products-text">可水洗TPE弹性粒子 热销 20万件</p>-->
        <!--<a href="javascript:;" class="products-select">更多选择</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;请选择规格数量&ndash;&gt;-->
    <!--<div class="products-specification fix">-->
        <!--<span class="specification-num">请选择规格数量</span>-->
        <!--<a href="javascript:;" class="specification-gt">&gt;</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;商品参数&ndash;&gt;-->
    <!--<div class="products-parameter fix">-->
        <!--<p class="parameter-text">商品参数</p>-->
        <!--<a href="javascript:;" class="parameter-join">加入购物车</a>-->
    <!--</div>-->
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/products-introduction.js"></script>
</html>