<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/select.css">
</head>
<body>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--主题部分-->
<div class="main">
    <!--<div class="select-img"></div>-->
    <img class="select-img" src="../images/select-img.png" alt="">

    <div class="select-pillow">
        <p>专属定制</p>
        <p>One PILLOW</p>
    </div>

    <div class="select-pillow select-sleep">
        <p>好睡专题</p>
        <p>Good Sleep</p>
    </div>

    <div class="select-pillow select-assistant">
        <p>选枕助手</p>
        <p>Assistant</p>
    </div>

    <div class="select-pillow select-choose">
        <p>购物车</p>
        <p>Choose Assistant</p>
    </div>

</div>

</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/select.js"></script>
</html>