<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shopping-cart</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/shopping-cart.css">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="measure-step2-title cart-head">
        <p class="cart-text">购物车</p>
        <p>Choose Assistant</p>
    </span>
</div>

<!--主体部分-->
<div class="main">
    <div class="cart  cart-first fix ">
        <!--左边介绍部分-->
        <div class="cart-left fix">
            <!--左边图片-->
            <span class="left-img">
                <img class="cart-img" src="../images/cart-img-cheese.png" alt="">
            </span>
            <!--右边文字-->
            <span class="right-text">
                <p class="text-title">芝士乳胶条枕/本白色</p>
                <p class="text-subtitle">Cheese Latex</p>
                <p class="text-money">&yen;499</p>
                <p class="text-intro">颜色Color：本白 Creamy White 硬度Hardness：中低 Lower-mid 弹性Elasticity：高 High</p>
            </span>
        </div>

        <ul class="cart-right">
            <li><button type="button" class="button-minus button-down">-</button></li>
            <li><input type="text" class="button-count" value="1" readonly="readonly"></li>
            <li><button type="button" class="button-minus button-up">+</button></li>
        </ul>
    </div>
    <div class="cart fix">
        <!--左边介绍部分-->
        <div class="cart-left fix">
            <!--左边图片-->
            <span class="left-img">
                <img class="cart-img" src="../images/cart-img-gray.png" alt="">
            </span>
            <!--右边文字-->
            <span class="right-text">
                <p class="text-title">TPE弹性体枕／浅灰色</p>
                <p class="text-subtitle">TPE Elastome</p>
                <p class="text-money">&yen;499</p>
                <p class="text-intro">颜色Color：浅灰 French grey; 硬度Hardness：中低 Lower-mid 弹性Elasticity：高 High</p>
            </span>
        </div>

        <ul class="cart-right">
            <li><button type="button" class="button-minus button-down">-</button></li>
            <li><input type="text" class="button-count" value="1" readonly="readonly"></li>
            <li><button type="button" class="button-minus button-up">+</button></li>
        </ul>
    </div>
    <div class="cart fix">
        <!--左边介绍部分-->
        <div class="cart-left fix">
            <!--左边图片-->
            <span class="left-img">
                <img class="cart-img" src="../images/cart-img-chocolate.png" alt="">
            </span>
            <!--右边文字-->
            <span class="right-text">
                <p class="text-title">三角荞麦壳枕／深咖色</p>
                <p class="text-subtitle">TPE Elastome</p>
                <p class="text-money">&yen;499</p>
                <p class="text-intro">颜色Color：浅灰 chocolate; 硬度Hardness：中低 Lower-mid 弹性Elasticity：高 High</p>
            </span>
        </div>

        <ul class="cart-right">
            <li><button type="button" class="button-minus button-down">-</button></li>
            <li><input type="text" class="button-count" value="1" readonly="readonly"></li>
            <li><button type="button" class="button-minus button-up">+</button></li>
        </ul>
    </div>
    <div class="cart fix">
        <!--左边介绍部分-->
        <div class="cart-left fix">
            <!--左边图片-->
            <span class="left-img">
                <img class="cart-img" src="../images/cart-img-pink.png" alt="">
            </span>
            <!--右边文字-->
            <span class="right-text">
                <p class="text-title">粉色软管枕／浅粉色</p>
                <p class="text-subtitle">TPE Elastome</p>
                <p class="text-money">&yen;499</p>
                <p class="text-intro">颜色Color：浅粉色 pink; 硬度Hardness：中低 Lower-mid 弹性Elasticity：高 High</p>
            </span>
        </div>

        <ul class="cart-right">
            <li><button type="button" class="button-minus button-down">-</button></li>
            <li><input type="text" class="button-count" value="1" readonly="readonly"></li>
            <li><button type="button" class="button-minus button-up">+</button></li>
        </ul>
    </div>
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<!--<script src="../js/shopping-cart.js"></script>-->
<script src="../js/shoppingCart.js"></script>
</html>