<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userlist</title>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/measure-step2.css">
    <link rel="stylesheet" href="../css/userlist.css">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="measure-step2-title tit-bottom">
        <p class="userlist-text">数据列表</p>
        <p class="userlist-text">VDetection</p>
    </span>
</div>

<!--主体部分-->
<div class="main">
    <!--一排-->
    <div class="userlist">
        <span class="userlist-dot userlist-left"></span>
        <span class="userlist-dot userlist-middle"></span>
        <span class="userlist-dot"></span>
    </div>
    <!--二排-->
    <div class="userlist">
        <span class="userlist-dot userlist-left"></span>
        <span class="userlist-dot userlist-middle"></span>
        <span class="userlist-dot"></span>
    </div>
    <!--三排-->
    <div class="userlist">
        <span class="userlist-dot userlist-left"></span>
        <span class="userlist-dot userlist-middle"></span>
        <span class="userlist-dot"></span>
    </div>
    <!--四排-->
    <div class="userlist">
        <span class="userlist-dot userlist-left"></span>
        <span class="userlist-dot userlist-middle"></span>
        <span class="userlist-dot"></span>
    </div>

    <!--底部文字-->
    <div class="userlist-foot">
        <p>所有扫描过的用户列表 </p>
    </div>
</div>

</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.animate.min.js"></script>
</html>